@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e6e6e6;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root { 
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Ensure the body has the correct background and text color */
html, body {
  height: 100%; /* Ensure the body takes the full height */
  margin: 0; /* Remove default margin */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), var(--font-geist-mono), sans-serif; /* Ensure fonts are applied */
}

